@{
    ViewBag.Title = "Contact";
}
<br />
<address>
    <strong>About Me:</strong>   <a href="https://about.me/kumudu.gunasekara">https://about.me/kumudu.gunasekara</a><br />
    <strong>Email:</strong> <a href="mailto:kumudug1@gmail.com">kumudug1@gmail.com</a>
</address>