
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Facebook</title>
    <meta property="og:title" content="IIS-URL-Rewrite-Useragent" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://useragent.voddyskitchen.com.au/" />
    <meta property="og:image" content="http://voddyskitchen.com.au/assets/images/recipes/croissants/DSC05597.JPG" />
</head>
<body>
    <div> 
        Facebook crawler page
    </div>
</body>
</html>
