
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Facebook</title>
    <meta property="og:title" content="IIS-URL-Rewrite-Useragent" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://useragent.voddyskitchen.com.au/" />
    <meta property="og:image" content="http://useragent.voddyskitchen.com.au/assets/imgs/me.jpg"/>
    <meta property="og:site_name" content="useragent.voddyskitchen.com.au" />
</head>
<body>
    <div>
        Social crawler page
    </div>
    <div itemscope itemtype="http://schema.org/Recipe">
        <h1 itemprop="name">Recipe name goes here</h1>
        <meta itemprop="url" content="http://useragent.voddyskitchen.com.au/" />
        <span itemprop="totalTime" datetime="PT30M">15 mins</span>
        <span itemprop="cookTime" datetime="PT30M">15 mins</span>
        <span itemprop="prepTime" datetime="PT30M">15 mins</span>
        <span itemprop="recipeYield">Serves 2</span>
        Images:
        <img src="http://useragent.voddyskitchen.com.au/Assets/imgs/me.jpg" itemprop="image" />
        Ingredients:
        <span itemprop="ingredients">1 Naan bread</span>,
        <span itemprop="ingredients">3 pieces fresh mozzarella</span>,
        <span itemprop="ingredients">1 1/2 tbsp olive oil</span>,
        <span itemprop="ingredients">1 1/2 tbsp balsamic vinegar</span>,
        <span itemprop="ingredients">5 basil leaves</span>
        <span itemprop="ingredients">3 cloves garlic</span>
        <span itemprop="ingredients">1 tomato</span>
    </div>
</body>
</html>
